.container {
    padding: 10px;
    background: #D9D7D7;
    margin: 20px 20px;
    border: 1.5px #A69FA0;
    border-style: solid;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: #ccc;
    box-shadow: 2px 4px 4px 0 #969696;
}

.img {
    width: 40vw;
    height: 40vw;
    grid-row: 1 / span 4;
    left: 10px;
    border-radius: 4px;
    align-self: center;
}

h2 {
    font-size: small;
    text-align: start;
    font-family: 'Catamaran', sans-serif;
}